name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '11'
          cache: gradle

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Accept Android licenses
        run: yes | sdkmanager --licenses

      - name: Install Android SDK components
        run: |
          sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2"
        env:
          ANDROID_SDK_ROOT: ${{ runner.tool_cache }}/Android/Sdk

      - name: Pub get
        run: flutter pub get

      - name: Build debug APK
        run: flutter build apk --debug
        env:
          ANDROID_SDK_ROOT: ${{ runner.tool_cache }}/Android/Sdk

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: app-debug.apk
          path: build/app/outputs/flutter-apk/app-debug.apk
